*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.class
*.apk
bin/
bin/*
gen/
gen/*
lint.xml
.settings/
.settings/*
.git
*.classpath
.project
*.txt
.idea/*
local.properties
assets/META-INF

